In [228]:
import pandas as pd
import numpy as np

In [242]:
df1 = pd.read_csv(r'C:\Users\UTILISATEUR\Desktop\Borel\flightlist_20191201_20191231.csv')

df2 = pd.read_csv(r'C:\Users\UTILISATEUR\Desktop\Borel\flightlist_20200101_20200131.csv')

In [243]:
df4 = pd.read_csv (r'C:\Users\UTILISATEUR\Desktop\Borel\flightlist_20200301_20200331.csv')

In [244]:
df2 = pd.read_csv(r'C:\Users\UTILISATEUR\Desktop\Borel\flightlist_20200101_20200131.csv')

In [245]:
df3 = pd.read_csv ( r'C:\Users\UTILISATEUR\Desktop\Borel\flightlist_20200201_20200229.csv')

In [246]:
df4

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,SVA870,NaN,7100c0,HZ-AK32,B77W,NaN,RPLL,2020-02-29 00:49:11+00:00,2020-03-01 07:39:58+00:00,2020-03-01 00:00:00+00:00,22.501490,46.814016,9448.8,14.493667,120.992576,99.06
1,QFA64,QF64,7c4778,VH-OEI,B744,YSSY,YSSY,2020-02-29 01:00:11+00:00,2020-03-01 04:39:30+00:00,2020-03-01 00:00:00+00:00,-33.971775,151.181774,0.0,-33.995889,151.188755,236.22
2,LAN602,LA602,e80444,CC-BGC,B789,KMIA,KLAX,2020-02-29 01:12:29+00:00,2020-03-01 14:28:58+00:00,2020-03-01 00:00:00+00:00,25.774531,-80.404064,914.4,33.947195,-118.431358,22.86
3,MAU440,MK440,060025,3B-NBM,A332,VAJJ,YPPH,2020-02-29 01:34:11+00:00,2020-03-01 01:01:52+00:00,2020-03-01 00:00:00+00:00,19.088419,72.842052,0.0,-31.941330,115.964758,0.00
4,KQA784,NaN,04c044,5Y-KYE,B738,VABB,FACT,2020-02-29 01:44:10+00:00,2020-03-01 19:28:15+00:00,2020-03-01 00:00:00+00:00,19.088745,72.868979,0.0,-33.966468,18.602142,38.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152152,RCR,NaN,7c5669,NaN,NaN,YLIL,YMEN,2020-03-31 23:43:47+00:00,2020-03-31 23:57:29+00:00,2020-03-31 00:00:00+00:00,-37.703914,145.363750,0.0,-37.730822,144.913728,30.48
2152153,CTV792,QG792,8a061d,PK-GQS,A320,NaN,NaN,2020-03-31 23:43:58+00:00,2020-03-31 23:59:37+00:00,2020-03-31 00:00:00+00:00,-6.095922,106.935330,3962.4,-6.676254,108.587983,7620.00
2152154,N89963,NaN,ac6a09,N89963,NaN,57CN,KSAC,2020-03-31 23:44:24+00:00,2020-03-31 23:59:22+00:00,2020-03-31 00:00:00+00:00,38.434971,-121.108704,304.8,38.522415,-121.486578,22.86
2152155,N124TX,NaN,a0644d,N124TX,AS50,6TE0,TS05,2020-03-31 23:47:05+00:00,2020-03-31 23:57:41+00:00,2020-03-31 00:00:00+00:00,26.243452,-97.987906,304.8,26.071152,-97.870875,464.82
2152156,CAL511,CI511,899018,B-18052,B77W,RCTP,NaN,2020-03-31 23:48:04+00:00,2020-03-31 23:59:58+00:00,2020-03-31 00:00:00+00:00,25.086070,121.232783,0.0,26.105005,122.057313,8572.50

In [247]:
# filtrer la date du jsuqu'au 19 decembre au 31 decembre in df1
# meerge df1 and df2 
#

In [248]:
# filtrer la date du jsuqu'au 19 decembre au 31 decembre in df1
# ligne du 1 er au 18 dec à supprimer pour use la col day comme filtre pour drop.
# idée so.loc[(so['score'] >= 5) & (so['ans_name'] == 'Scott Boston')]

In [249]:
premier =(df1["day"] > "2019-12-18")

In [250]:
df1.dtypes

callsign         object
number           object
icao24           object
registration     object
typecode         object
origin           object
destination      object
firstseen        object
lastseen         object
day              object
latitude_1      float64
longitude_1     float64
altitude_1      float64
latitude_2      float64
longitude_2     float64
altitude_2      float64
dtype: object

In [251]:
df1_new = df1[premier] 
df1_new

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
1456894,N119PM,NaN,a04ef3,N119PM,NaN,KBNG,KPSP,2019-12-18 00:00:03+00:00,2019-12-18 00:12:36+00:00,2019-12-18 00:00:00+00:00,33.939285,-116.928107,1524.0,33.811682,-116.417313,693.42
1456895,DAL2329,NaN,aca22e,N913DU,NaN,NaN,KBFI,2019-12-18 00:00:03+00:00,2019-12-18 00:12:29+00:00,2019-12-18 00:00:00+00:00,47.349243,-122.118530,3352.8,47.496964,-122.307495,304.80
1456896,DAL913,NaN,a3ad5a,N336NW,A320,NaN,KSAT,2019-12-18 00:00:03+00:00,2019-12-18 03:42:42+00:00,2019-12-18 00:00:00+00:00,40.248825,-75.148376,7010.4,29.492844,-98.499864,350.52
1456897,RYR6DN,NaN,4ca858,EI-EMP,B738,NaN,EGSS,2019-12-18 00:00:03+00:00,2019-12-18 00:12:28+00:00,2019-12-18 00:00:00+00:00,51.593033,0.190182,3352.8,51.898407,0.254898,198.12
1456898,EJA577,NaN,a769d9,N577QS,C56X,NaN,KCMH,2019-12-18 00:00:03+00:00,2019-12-18 01:23:43+00:00,2019-12-18 00:00:00+00:00,43.176456,-76.185673,12192.0,39.991677,-82.873930,213.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2701290,BTR,NaN,7c07cd,VH-BTR,C172,YPPF,YPAD,2019-12-31 23:46:09+00:00,2019-12-31 23:56:11+00:00,2019-12-31 00:00:00+00:00,-34.800201,138.632943,-304.8,-34.837134,138.472195,121.92
2701291,CHH7767,NaN,780dd6,B-1505,B738,ZGSZ,NaN,2019-12-31 23:46:26+00:00,2019-12-31 23:59:49+00:00,2019-12-31 00:00:00+00:00,22.604462,113.829595,304.8,22.041412,112.869740,5684.52
2701292,CAP4390,NaN,a61058,NaN,NaN,UT99,KU77,2019-12-31 23:47:04+00:00,2019-12-31 23:57:12+00:00,2019-12-31 00:00:00+00:00,40.173185,-112.082582,2743.2,40.128113,-111.672668,1600.20
2701293,N214KT,NaN,a1c951,N214KT,NaN,KRBD,KRBD,2019-12-31 23:47:09+00:00,2019-12-31 23:57:41+00:00,2019-12-31 00:00:00+00:00,32.674271,-96.866735,0.0,32.690192,-96.862251,251.46
2701294,N337PH,NaN,a3b11d,N337PH,NaN,2TS8,KRND,2019-12-31 23:47:37+00:00,2019-12-31 23:57:56+00:00,2019-12-31 00:00:00+00:00,29.305801,-97.937358,304.8,29.437180,-98.347655,358.14

In [252]:
df1_copy = df1_new.copy()

In [253]:
covid_new = df1_new.append(df2, ignore_index=True)

In [254]:
covid_new

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,N119PM,NaN,a04ef3,N119PM,NaN,KBNG,KPSP,2019-12-18 00:00:03+00:00,2019-12-18 00:12:36+00:00,2019-12-18 00:00:00+00:00,33.939285,-116.928107,1524.0,33.811682,-116.417313,693.42
1,DAL2329,NaN,aca22e,N913DU,NaN,NaN,KBFI,2019-12-18 00:00:03+00:00,2019-12-18 00:12:29+00:00,2019-12-18 00:00:00+00:00,47.349243,-122.118530,3352.8,47.496964,-122.307495,304.80
2,DAL913,NaN,a3ad5a,N336NW,A320,NaN,KSAT,2019-12-18 00:00:03+00:00,2019-12-18 03:42:42+00:00,2019-12-18 00:00:00+00:00,40.248825,-75.148376,7010.4,29.492844,-98.499864,350.52
3,RYR6DN,NaN,4ca858,EI-EMP,B738,NaN,EGSS,2019-12-18 00:00:03+00:00,2019-12-18 00:12:28+00:00,2019-12-18 00:00:00+00:00,51.593033,0.190182,3352.8,51.898407,0.254898,198.12
4,EJA577,NaN,a769d9,N577QS,C56X,NaN,KCMH,2019-12-18 00:00:03+00:00,2019-12-18 01:23:43+00:00,2019-12-18 00:00:00+00:00,43.176456,-76.185673,12192.0,39.991677,-82.873930,213.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3979187,N6018K,NaN,a7ce70,N6018K,NaN,KX50,KEVB,2020-01-31 23:46:58+00:00,2020-01-31 23:57:53+00:00,2020-01-31 00:00:00+00:00,28.988730,-81.026593,304.8,29.051436,-80.965361,45.72
3979188,CONN343,NaN,a112d9,N1688C,NaN,KLEE,FL97,2020-01-31 23:47:11+00:00,2020-01-31 23:59:01+00:00,2020-01-31 00:00:00+00:00,28.770819,-81.745929,914.4,28.759554,-81.598852,922.02
3979189,N939P,NaN,ad085d,N939P,NaN,KTOA,KVNY,2020-01-31 23:47:21+00:00,2020-01-31 23:58:55+00:00,2020-01-31 00:00:00+00:00,33.808935,-118.347073,0.0,34.158234,-118.487100,510.54
3979190,FHMTO,NaN,39b26e,F-HMTO,AT43,NaN,TBPB,2020-01-31 23:47:40+00:00,2020-01-31 23:58:44+00:00,2020-01-31 00:00:00+00:00,13.041284,-59.223199,3048.0,13.058042,-59.559776,396.24
3979191,CES2424,NaN,781107,B-8977,A321,NaN,NaN,2020-01-31 23:48:41+00:00,2020-01-31 23:59:39+00:00,2020-01-31 00:00:00+00:00,28.991570,106.667606,9448.8,30.346985,107.366693,9471.66

In [255]:
covid_new = covid_new.append(df3, ignore_index=True)

In [256]:
covid_new = covid_new.append(df4, ignore_index=True)

In [257]:
covid_copy = covid_new.copy

In [258]:
covid_new.drop(["callsign","number", "icao24" ,"registration", "typecode"], axis = 1, inplace = True )

In [259]:
covid_new.dtypes

origin          object
destination     object
firstseen       object
lastseen        object
day             object
latitude_1     float64
longitude_1    float64
altitude_1     float64
latitude_2     float64
longitude_2    float64
altitude_2     float64
dtype: object

In [260]:
covid_new.drop(["latitude_1","longitude_1", "altitude_1", "latitude_2", "longitude_2", "altitude_2"], axis = 1, inplace = True )

In [261]:
covid_new

,origin,destination,firstseen,lastseen,day
0,KBNG,KPSP,2019-12-18 00:00:03+00:00,2019-12-18 00:12:36+00:00,2019-12-18 00:00:00+00:00
1,NaN,KBFI,2019-12-18 00:00:03+00:00,2019-12-18 00:12:29+00:00,2019-12-18 00:00:00+00:00
2,NaN,KSAT,2019-12-18 00:00:03+00:00,2019-12-18 03:42:42+00:00,2019-12-18 00:00:00+00:00
3,NaN,EGSS,2019-12-18 00:00:03+00:00,2019-12-18 00:12:28+00:00,2019-12-18 00:00:00+00:00
4,NaN,KCMH,2019-12-18 00:00:03+00:00,2019-12-18 01:23:43+00:00,2019-12-18 00:00:00+00:00
...,...,...,...,...,...
8780179,YLIL,YMEN,2020-03-31 23:43:47+00:00,2020-03-31 23:57:29+00:00,2020-03-31 00:00:00+00:00
8780180,NaN,NaN,2020-03-31 23:43:58+00:00,2020-03-31 23:59:37+00:00,2020-03-31 00:00:00+00:00
8780181,57CN,KSAC,2020-03-31 23:44:24+00:00,2020-03-31 23:59:22+00:00,2020-03-31 00:00:00+00:00
8780182,6TE0,TS05,2020-03-31 23:47:05+00:00,2020-03-31 23:57:41+00:00,2020-03-31 00:00:00+00:00
8780183,RCTP,NaN,2020-03-31 23:48:04+00:00,2020-03-31 23:59:58+00:00,2020-03-31 00:00:00+00:00

In [262]:


# Origin par China  et filtrer ( ZUCK, ZGSZ)
# destination, find china and remove / 
# drop china na destination

In [263]:
covid_new.replace(to_replace =["VHHH", "ZGGG", "VMMC", "ZGOW", "ZGSD", "ZGSZ", "ZSAM", "ZSWZ", "ZUCK", "ZYHE"], 
                            value ="CHINA", inplace = True)

In [264]:
covid_new.to_csv(r'C:\Users\UTILISATEUR\Desktop\Borel\C2.csv', index = False)

In [265]:
# drop les valeurs qui ne sont pas chine dans la colonnes origin
cond = covid_new["origin"] != 'CHINA'


covid_new.drop(covid_new[cond].index, inplace = True)

In [266]:
covid_new.shape

(68915, 5)

In [267]:
# drop china dans destination

In [268]:
cond2 = covid_new["destination"] == 'CHINA'
covid_new.drop(covid_new[cond2].index, inplace = True)

In [269]:
covid_new.shape

(63402, 5)

In [270]:
covid_new

,origin,destination,firstseen,lastseen,day
3511,CHINA,NaN,2019-12-18 00:00:39+00:00,2019-12-18 01:01:20+00:00,2019-12-18 00:00:00+00:00
3551,CHINA,NaN,2019-12-18 00:00:44+00:00,2019-12-18 00:11:24+00:00,2019-12-18 00:00:00+00:00
3875,CHINA,NaN,2019-12-18 00:02:13+00:00,2019-12-18 00:13:11+00:00,2019-12-18 00:00:00+00:00
3912,CHINA,NaN,2019-12-18 00:02:25+00:00,2019-12-18 00:22:57+00:00,2019-12-18 00:00:00+00:00
3915,CHINA,NaN,2019-12-18 00:02:26+00:00,2019-12-18 00:15:58+00:00,2019-12-18 00:00:00+00:00
...,...,...,...,...,...
8779556,CHINA,NaN,2020-03-31 22:50:35+00:00,2020-03-31 23:02:22+00:00,2020-03-31 00:00:00+00:00
8779906,CHINA,NaN,2020-03-31 23:12:17+00:00,2020-03-31 23:44:19+00:00,2020-03-31 00:00:00+00:00
8780001,CHINA,NaN,2020-03-31 23:20:13+00:00,2020-03-31 23:40:10+00:00,2020-03-31 00:00:00+00:00
8780056,CHINA,NaN,2020-03-31 23:26:08+00:00,2020-03-31 23:36:28+00:00,2020-03-31 00:00:00+00:00
8780160,CHINA,NaN,2020-03-31 23:40:34+00:00,2020-03-31 23:53:53+00:00,2020-03-31 00:00:00+00:00

In [271]:
# clean missing and NAN values 
# change Day type 
# destination par kombo
# Merge Covid ( confirm case) file a partir ya country na date

In [272]:
covid_new.describe()

,origin,destination,firstseen,lastseen,day
count,63402,29021,63402,63402,63402
unique,1,209,63191,62960,105
top,CHINA,RCTP,2020-02-28 01:15:33+00:00,2020-01-17 23:59:58+00:00,2019-12-19 00:00:00+00:00
freq,63402,3792,3,10,1041

In [273]:
covid_new.head(100)

,origin,destination,firstseen,lastseen,day
3511,CHINA,NaN,2019-12-18 00:00:39+00:00,2019-12-18 01:01:20+00:00,2019-12-18 00:00:00+00:00
3551,CHINA,NaN,2019-12-18 00:00:44+00:00,2019-12-18 00:11:24+00:00,2019-12-18 00:00:00+00:00
3875,CHINA,NaN,2019-12-18 00:02:13+00:00,2019-12-18 00:13:11+00:00,2019-12-18 00:00:00+00:00
3912,CHINA,NaN,2019-12-18 00:02:25+00:00,2019-12-18 00:22:57+00:00,2019-12-18 00:00:00+00:00
3915,CHINA,NaN,2019-12-18 00:02:26+00:00,2019-12-18 00:15:58+00:00,2019-12-18 00:00:00+00:00
...,...,...,...,...,...
12018,CHINA,NaN,2019-12-18 01:43:51+00:00,2019-12-18 01:54:29+00:00,2019-12-18 00:00:00+00:00
12053,CHINA,NaN,2019-12-18 01:44:29+00:00,2019-12-18 04:30:28+00:00,2019-12-18 00:00:00+00:00
12113,CHINA,NaN,2019-12-18 01:45:18+00:00,2019-12-18 02:04:20+00:00,2019-12-18 00:00:00+00:00
12166,CHINA,NaN,2019-12-18 01:46:04+00:00,2019-12-18 04:59:16+00:00,2019-12-18 00:00:00+00:00
12310,CHINA,NaN,2019-12-18 01:48:18+00:00,2019-12-18 01:58:57+00:00,2019-12-18 00:00:00+00:00

In [274]:
# clean missing and NAN values 
covid_new.dropna(axis=0, inplace=True)
# change Day type

In [275]:
covid_new

,origin,destination,firstseen,lastseen,day
4440,CHINA,OMDB,2019-12-18 00:06:54+00:00,2019-12-18 08:32:29+00:00,2019-12-18 00:00:00+00:00
5162,CHINA,VTBS,2019-12-18 00:13:57+00:00,2019-12-18 02:42:25+00:00,2019-12-18 00:00:00+00:00
5326,CHINA,RJBB,2019-12-18 00:15:42+00:00,2019-12-18 03:01:54+00:00,2019-12-18 00:00:00+00:00
5474,CHINA,RCTP,2019-12-18 00:17:08+00:00,2019-12-18 01:32:56+00:00,2019-12-18 00:00:00+00:00
5687,CHINA,WMKK,2019-12-18 00:19:45+00:00,2019-12-18 03:54:04+00:00,2019-12-18 00:00:00+00:00
...,...,...,...,...,...
8775700,CHINA,WMSA,2020-03-31 20:14:51+00:00,2020-03-31 23:27:29+00:00,2020-03-31 00:00:00+00:00
8776250,CHINA,WSAP,2020-03-31 20:34:26+00:00,2020-03-31 23:38:38+00:00,2020-03-31 00:00:00+00:00
8776634,CHINA,RCTP,2020-03-31 20:49:13+00:00,2020-03-31 21:59:40+00:00,2020-03-31 00:00:00+00:00
8777947,CHINA,VTBS,2020-03-31 21:40:13+00:00,2020-03-31 23:51:43+00:00,2020-03-31 00:00:00+00:00
8778549,CHINA,RCTP,2020-03-31 22:04:00+00:00,2020-03-31 23:18:04+00:00,2020-03-31 00:00:00+00:00

In [276]:

#df = pd.read_csv('file_name.csv').dropna()
#df_ac = pd.DataFrame(list(set().union(df.origin.unique(), df.destination.unique()))) 
#df_ac.to_csv('all_codes.csv')

covid_new.to_csv(r'C:\Users\UTILISATEUR\Desktop\Borel\C6.csv', index = False)

In [277]:
df_ac = pd.DataFrame(list(set().union(covid_new.origin.unique(), covid_new.destination.unique())))

In [278]:
df_ab = pd.DataFrame(list(covid_new.destination.unique()))

In [279]:
df_ac

        0
0    KSAN
1    RJTK
2    VEPI
3    RCMQ
4    RJTE
..    ...
205  WSAC
206  FARA
207  KMIA
208  KLAS
209  VCBI

[210 rows x 1 columns]

In [280]:
df_ac.to_csv(r'C:\Users\UTILISATEUR\Desktop\Borel\C7.csv', index = False)

In [284]:
b= covid_new.replace({'destination':{'YMEN' : 'Australia', 'YPAD' : 'Australia', 'YBCS' : 'AUSTRALIA', 'YSBK' : 'AUSTRALIA','YBBN' : 'AUSTRALIA', 'YBCG' : 'AUSTRALIA','YSSY' : 'AUSTRALIA', 'YPPH' : 'AUSTRALIA','YMML' : 'Australia', 'LOWW' : 'AUSTRIA','CZBB' : 'CANADA', 'CYYC' : 'CANADA','CYUL' : 'CANADA', 'CAP3' : 'japan','CYYZ' : 'CANADA', 'CYVR' : 'CANADA','LKPD' : 'CZECH REPUBLIQUE', 'LKPR' : 'CZECH REPUBLIQUE','EKCH' : 'DANMARK', 'EFHK' : 'FINLAND',
                                     'LFBD' : 'FRANCE', 'LFBD' : 'FRANCE','LFLB' : 'FRANCE', 'LFLS' : 'FRANCE','LFPG' : 'FRANCE', 'LFPB' : 'FRANCE',
                                     'EDDB' : 'GERMANY', 'EDDB' : 'GERMANY','EDDL' : 'GERMANY', 'EDDF' : 'GERMANY','EDFH' : 'GERMANY', 'EDDK' : 'GERMANY','EDDP' : 'China', 'EDDM' : 'japan',
                                     'EDDS' : 'GERMANY', 'LGAV' : 'japan','LHBP' : 'China', 'VOMM' : 'japan','VECC' : 'China', 'VABB' : 'japan','VIDP' : 'China', 'EIDW' : 'japan','LLBG' : 'China', 'LIMIC' : 'ITALY','LIRF' : 'China',
                                     'RJGG' : 'JAPAN','RJAA' : 'JAPAN', 'RJFF' : 'JAPAN','RJOA' : 'JAPAN', 'RJBE' : 'JAPAN','RJOT' : 'JAPAN', 'RJOB' : 'JAPAN','RJBB' : 'China', 'RJTT' : 'japan','UAAA' : 'KAZAKHSTAN',
                                     'EVRA' : 'LATVIA','ELLX' : 'LUXEMBOURG', 'WBKK' : 'japan','WMSA' : 'China', 'WMKK' : 'japan','WBGR' : 'China', 'LMML' : 'japan','MMTJ' : 'China', 'VNKT' : 'japan','EHAM' : 'China', 'EHBK' : 'japan','NZAA' : 'China', 'NZCH' : 'japan','RPLC' : 'China', 'RPLL' : 'japan','EPWA' : 'China', 'OTBD' : 'japan','UUEE' : 'China',
                                     'UUWW' : 'japan','UUDD' : 'China', 'UNNT' : 'RUSSIA','ULLI' : 'RUSSIA', 'OERK' : 'SAUDI ARABIA','WSSS' : 'SINGAPOUR', 
                                     'FACT' : 'japan','RKSI' : 'RKSI' }})

In [285]:
covid_19 =  pd.read_csv(r'C:\Users\UTILISATEUR\Downloads\Borel\COVID-19-global.csv')
covid_19

              Date Country/Region Province/State  Confirmed  Recovered  Deaths
0       2020-01-22    Afghanistan            NaN          0        0.0       0
1       2020-01-23    Afghanistan            NaN          0        0.0       0
2       2020-01-24    Afghanistan            NaN          0        0.0       0
3       2020-01-25    Afghanistan            NaN          0        0.0       0
4       2020-01-26    Afghanistan            NaN          0        0.0       0
...            ...            ...            ...        ...        ...     ...
181995  2021-10-28       Zimbabwe            NaN     132880        0.0    4675
181996  2021-10-29       Zimbabwe            NaN     132926        0.0    4675
181997  2021-10-30       Zimbabwe            NaN     132926        0.0    4675
181998  2021-10-31       Zimbabwe            NaN     132977        0.0    4678
181999  2021-11-01       Zimbabwe            NaN     133007        0.0    4679

[182000 rows x 6 columns]

In [300]:
covid_new.rename(columns = {'day':'Date'}, inplace = True)

In [ ]:
#merged_df = left_df.merge(right_df, 

merged_df = covid_new.merge(covid_19, how = 'left', left_on=['country', 'Date'], right_on=['country','Date'])

In [ ]:
pip install pystan
pip install fbprophet
%matplotlib inline
import pandas as pd
from fbprophet import Prophet

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
ax = df.set_index('ds').plot(figsize=(12, 8))
ax.set_ylabel('Monthly Number of Airline Passengers')
ax.set_xlabel('Date')
Step 3 — Time Series Forecasting with Prophet
# set the uncertainty interval to 95% (the Prophet default is 80%)
my_model = Prophet(interval_width=0.95)
my_model.fit(df)
future_dates = my_model.make_future_dataframe(periods=36, freq='MS')
future_dates.tail()
forecast = my_model.predict(future_dates)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

In [ ]:
my_model.plot(forecast,
my_model.plot_components(forec
Adding Multiple Regressors
train_dataset[‘type’] = X[‘type’]
#Additional Regressor
pro_regressor= Prophet()
pro_regressor.add_regressor('type')
pro_regressor.add_regressor('Total Volume')
pro_regressor.add_regressor('4046')
pro_regressor.add_regressor('4225')
pro_regressor.add_regressor('4770')
pro_regressor.add_regressor('Small Bags')
#Fitting the data
pro_regressor.fit(train_X)
future_data = pro_regressor.make_future_dataframe(periods=249)
#forecast the data for Test  data
forecast_data = pro_regressor.predict(test_X)
pro_regressor.plot(forecast_data);